//color variables 
:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} 
$main-white-color: white;
$main-black-color: black;

    $white-color:#FFFFFF;
    $grey-color:#7D7D7D;
    $anchor-text:#002147;

    $button-color:#040404;

    $header-text:#C8C8C8;
    
    $header:#841E25;
    $header-bg-color:#FBF9F9;
    $black-bg-color:#000000;
    
    $search-border:#BDBDBD;
    $header-border:#707070; 

    $button-aboutbg:#FFBA49;

    $button-aboutcolor:#212529;

    $second-iconbg:#FF5959;
    $card-heading:#37474F;
    $card-para:#1C2021;

    $card-green:#70CE88;
    $card-blue:#5C96FF;
    $card-yellow:#FFBA49;

    $info-li:#373737;

    $footer-copyright:#EEEEEE;
