/* Responsiveness */
@import "variables";
@import "font";
@import "mixins";
@media (max-width: 1323px) {
    .toggle-btn{
        display: block;
       }
       .navbar{
        display: none;
        width: 100%;
        ul{
          li{
            width: 100%;
          }
        }
       }
       .navbar .navbar-menu{
        display: block;
        display: inline-block;
    padding-top: 25px;
    padding-left: 14px;
        // padding-left: 2.5rem;
        background-color:$header-bg-color;
       }
       .navbar .navbar-menu li{
        padding-bottom: 25px;
       }
       .navbar.show{
        display: block;
        position: relative;
        z-index: 999;
       }
       header{
        display: block;
       }
       .header-border{
        display: none;
       }
}
@media (max-width: 991px) {

 /* topnav */

 

.top-nav{
    flex-direction: column;
    padding: 1rem 1.5rem;
    justify-content: center;
    height: 5.8rem;
}

.header-logo{
    padding: 0 2rem;
}
.header-signup{
    padding-top: 10px;
}
.top-nav li a{
    font-size: 0.6rem;
}
.header-signup .btn{
    padding: 8px 15px;
    font-size: 0.8rem;
}
.header_lang{
    font-size: 0.6rem;
}
// banner
.left_owl {
    padding: 5rem 2rem 0 2rem;
}
.owl__slide {
    display: flex;
    align-items: center;
    flex-direction: column;
}
    header{
    padding: 0;
    width: 100%;
    display: inline-block;
    }
    .header-border{
      display: none;
    }
   .toggle-btn{
    display: block;
   }
   .navbar{
    display: none;
    width: 100%;
    ul{
      li{
        width: 100%;
      }
    }
   }
   .navbar .navbar-menu{
    display: block;
    padding-left: 2.5rem;
    background-color:$header-bg-color;
   }
   .navbar.show{
    display: block;
    position: relative;
    z-index: 999;
   }
   .navbar-menu{
    li{
      padding: 10px 0;
    }
   }
   .header-logo .logo{
    width: 50px;
   }
  
//   about
.about{
    width: 100%;
}
.about-main-listing{
    flex-direction: column;
}
.about_left .about-img{
    width: 100%;
}
.about_left .about-button .about_btn{
    padding: 1rem 2rem;
    font-size: 0.8rem;
}
.about_left .about-button{
    top: 83%;
}
.about_right{
    padding-top: 3rem;
    margin-left: 0;
}
.about-head::after{
    top: 0%;
    right: 0%
}
.about-details{
    padding-right: 0;
}
//mission
.mission{
    flex-direction: column;
}
.mission-inner .mission-dot {
    max-width: 154px;
    top: 6%;
}
.mission-content{
    padding: 3rem 0;
    
}
.vision{
    flex-direction: column;
}
.vision-inner .vision-dot{
    left: 53%;
}
.vision-inner .vision-circle{
    right: 14%;
}
//hwschool
.card-section{
    padding: 2.8rem 0 3.8rem 0;
}
.section-head-heading{
    padding: 0 2rem;
}
//progress
.progress{
flex-direction: column;
}
.info .info-content{
    flex-direction: column;
}
.info .info-content ul{
    padding-top: 3rem;
    padding:3rem 2.8rem 0 2.8rem;
}
//card
.card{
    margin: 2rem 1rem 2rem 1.2rem;
}
//footer
.footer .footer-top{
    flex-direction: column;
    padding-left: 2rem;
    padding-bottom: 2.8rem;
}
.footer__nav{
    flex-direction: column; 
}
.footer .footer-info{
    padding-left: 0;

}
}
@media (max-width: 320px) {
    .vision-inner .vision-dot {
        left: 42%;
    }
    .header-logo {
        padding: 0 1rem;
    }
    .toggle-btn{
        right: 20px;
    }
    .header-logo {
        padding: 1rem 0 1rem 1rem;
    }
    h2 {
        font-size: 1.5rem;
        color: #FFFFFF;
        line-height: 2rem;
    }
}

