:root {
  --white: #f9f9f9;
  --black: #36383F;
  --gray: #85888C;
}

@font-face {
  font-family: "circular-std-black", sans-serif;
  src: url("../font/CircularStd-Black.woff2") format("woff2"), url("../font/CircularStd-Black.woff") format("woff"), url("../font/CircularStd-Black.ttf") format("truetype");
}
@font-face {
  font-family: "circular-std-book", sans-serif;
  src: url("../font/CircularStd-Book.woff2") format("woff2"), url("../font/CircularStd-Book.woff") format("woff"), url("../font/CircularStd-Book.ttf") format("truetype");
}
@font-face {
  font-family: "circular-std-bold", sans-serif;
  src: url("../font/CircularStd-Bold.woff2") format("woff2"), url("../font/CircularStd-Bold.woff") format("woff"), url("../font/CircularStd-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "circular-std-medium", sans-serif;
  src: url("../font/CircularStd-Medium.woff2") format("woff2"), url("../font/CircularStd-Medium.woff") format("woff"), url("../font/CircularStd-Medium.ttf") format("truetype");
}
/*------ roboto font---------*/
@font-face {
  font-family: "Roboto-regular", sans-serif;
  src: url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-bold", sans-serif;
  src: url("../font/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto-Bold.woff") format("woff"), url("../font/Roboto-Bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "circular-std-book", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "circular-std-bold", sans-serif;
}

a {
  text-decoration: none;
  color: #002147;
  font-family: "circular-std-book", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

h1 {
  font-size: 3rem;
  line-height: 4.1rem;
  color: #FFFFFF;
}

h2 {
  font-size: 3.1rem;
  color: #FFFFFF;
  line-height: 4rem;
  font-weight: 400;
}

h3 {
  font-size: 2.1rem;
  line-height: 2.3rem;
  color: #373737;
  font-weight: 400;
  font-family: "circular-std-bold", sans-serif;
}

h4 {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #37474F;
  transition: 0.6s all;
}

p {
  color: #7D7D7D;
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: "circular-std-book", sans-serif;
}

.container {
  width: 100%;
  max-width: 1265px;
  margin: 0 auto;
}

/*=========== header section start here=========*/
.top-nav {
  width: 100%;
  height: 3.8rem;
  background-color: #841E25;
  padding: 0rem 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-nav li a {
  color: #C8C8C8;
  font-size: 0.78rem;
  font-family: "circular-std", sans-serif;
}
.top-nav li img {
  padding-right: 8px;
}

.header-signup {
  display: flex;
}
.header-signup .btn {
  padding: 0.7rem 1.75rem 0.5rem 1.68rem;
  border-radius: 0.94rem;
  border: none;
  font-size: 0.7rem;
  line-height: 0.94rem;
  background-color: #FFFFFF;
  display: inline-block;
  color: #040404;
  margin-right: 1.25rem;
}

.header_lang {
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
  padding: 0.6rem 0.8rem 0.6rem 1.3rem;
}
.header_lang a {
  border-radius: 0.94rem;
  font-size: 0.7rem;
  line-height: 0.94rem;
  color: #FFFFFF;
}
.header_lang::after {
  content: url("../images/arrow-light.png");
  display: inline-block;
}

.top-nav li {
  display: inline-block;
  padding-right: 20px;
}

.top-nav li:last-child {
  padding-right: 0px;
}

header {
  position: relative;
  display: flex;
  background-color: #FBF9F9;
  align-items: center;
  padding: 0 2.8rem;
  height: 4.1rem;
}

.header-logo {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
}
.header-logo .logo {
  max-width: 3rem;
  height: 3rem;
  vertical-align: middle;
}
.header-logo .header-text {
  font-size: 1rem;
  line-height: 1.3rem;
  padding-left: 8px;
  color: #002147;
  font-weight: 400;
  display: inline-block;
  font-family: "circular-std-black", sans-serif;
}

.header-border {
  border: 1px solid #cfcfcf;
  border-width: 0 1px;
  width: 2.2rem;
  height: 4.1rem;
  background-color: #FFFFFF;
  margin-right: 2.7rem;
}

.navbar {
  flex: 0 0 75%;
  display: flex;
  height: 4.1rem;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
}
.navbar .navbar-menu {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar .navbar-menu li {
  display: inline-block;
}
.navbar .navbar-menu li a {
  font-size: 0.8rem;
  padding-right: 1.8rem;
  display: block;
  font-family: "circular-std-medium", sans-serif;
  font-weight: 400;
}

.search {
  position: relative;
  background-color: #FFFFFF;
  padding: 0.6rem 1.1rem;
  border-radius: 0.9rem;
  width: 61px;
  height: 44px;
  display: inline-block;
}
.search a {
  position: absolute;
}

.dropbtn {
  background-color: transparent;
  color: #002147;
  padding-right: 1.8rem;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.toggle-btn {
  width: 30px;
  position: absolute;
  right: 30px;
  top: 15px;
  display: none;
}
.toggle-btn span {
  width: 100%;
  height: 12px;
  background-color: #000;
  border: 0px solid #fff;
  border-width: 0px 0 8px 0;
  float: left;
  margin-bottom: 0;
}
.toggle-btn span:last-child {
  border: none;
  height: 4px;
}

/*=================owl carousel============= */
.owl-slide__text {
  flex: 1 0 40%;
  align-self: center;
}
.owl-slide__text img {
  width: 100%;
}

.left_owl {
  padding-left: 8rem;
}
.left_owl .owl__para {
  margin: 1.7rem 0 2.1rem;
}
.left_owl .owl__para p {
  font-size: 0.9rem;
}
.left_owl .owl_btn {
  padding: 0.7rem 1.75rem 0.5rem 1.68rem;
  border-radius: 0.94rem;
  border: none;
  font-size: 0.7rem;
  line-height: 0.94rem;
  background-color: #841E25;
  display: inline-block;
  padding: 0.7rem 2.5rem;
  color: #FFFFFF;
  font-size: 0.9rem;
  line-height: 1.7rem;
}
.left_owl .owl_btn::after {
  content: url("../images/arrow-forward.png");
  width: 16px;
  height: 16px;
  margin-left: 7px;
  vertical-align: middle;
}

.owl_images {
  flex: 1 0 60%;
  align-self: flex-end;
  position: relative;
}

main .owl-carousel .owl-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.owl__slide {
  display: flex;
  align-items: center;
}

.owl-one .owl-dots .owl-dot.active span {
  background: #FEF9FA;
}
.owl-one .owl-dots .owl-dot span {
  background: #CFCFCF;
}
.owl-one .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 0;
}
.owl-one .owl-carousel .owl-slide {
  position: relative;
  height: 100vh;
  background-color: lightgray;
}
.owl-one .owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  background: #cfcfcf;
}
.owl-one .owl-theme .owl-dots .owl-dot.active span, .owl-one .owl-theme .owl-dots .owl-dot:hover span {
  background: #FFFFFF;
}

.about {
  background: #FFFFFF;
  max-width: 73%;
  margin: 0 auto;
  padding: 5rem 0 0rem 0;
  margin-top: 5rem;
  margin-bottom: 9rem;
}

.about-main-listing {
  display: flex;
  justify-content: center;
}

.about_left {
  flex: 0 0 50%;
  text-align: center;
  position: relative;
}
.about_left .about-img {
  max-width: 541px;
  width: 100%;
}
.about_left .about-content {
  position: absolute;
  top: 0;
  left: -11%;
  transform: translate(0%, -39%);
}
.about_left .about-content .about-cic-img {
  width: 100%;
}
.about_left .about-button {
  position: absolute;
  left: 26%;
  top: 90%;
}
.about_left .about-button .about_btn {
  padding: 0.7rem 1.75rem 0.5rem 1.68rem;
  border-radius: 0.94rem;
  border: none;
  font-size: 0.7rem;
  line-height: 0.94rem;
  background-color: #FFBA49;
  display: inline-block;
  color: #212529;
  padding: 1rem 6rem;
  font-size: 1rem;
  line-height: 1rem;
}

.about_right {
  flex: 0 0 50%;
  margin-left: 1.8rem;
}
.about_right .about-dot-img {
  max-width: 179px;
  height: 94px;
}

.about-details {
  padding-right: 7rem;
  position: relative;
}
.about-details h3 {
  padding-bottom: 1.3rem;
  line-height: 2.6rem;
  color: #002147;
}
.about-details p {
  font-size: 1rem;
  line-height: 1.3rem;
}
.about-details .about-dots {
  text-align: right;
}

.about-head::after {
  content: url("../images/about-dot.png");
  position: absolute;
  top: -15%;
  right: 0%;
}

/*---------- ~mission and vision~ ---------------*/
.mission_vision {
  height: 100%;
  background-color: #841e25;
  background: url(../images/brow.png);
  width: 100%;
  background-size: cover;
}

.mission {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3.4rem;
}

.mission-outer {
  position: relative;
  z-index: 1;
  flex: 0 0 50%;
}
.mission-outer .misson-img {
  width: 100%;
  max-width: 511px;
  transform: translateY(-10%);
}

.mission-inner .mission-circle {
  width: 100%;
  max-width: 390px;
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 0;
}
.mission-inner .mission-dot {
  width: 100%;
  max-width: 180px;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}

.mission-content {
  flex: 0 0 50%;
  align-self: center;
  margin-left: 2rem;
}
.mission-content h3 {
  color: #FFFFFF;
}
.mission-content p {
  line-height: 1.3rem;
  padding: 1.1rem 0;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
.mission-content .mission-btn {
  padding: 0.7rem 1.75rem 0.5rem 1.68rem;
  border-radius: 0.94rem;
  border: none;
  font-size: 0.7rem;
  line-height: 0.94rem;
  background-color: #FFFFFF;
  display: inline-block;
  font-family: "circular-std-book", sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
}

.vision {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.vision-outer {
  position: relative;
  z-index: 1;
  flex: 0 0 50%;
}
.vision-outer .misson-img {
  width: 100%;
  max-width: 511px;
  transform: translateY(10%);
}

.vision-inner .vision-circle {
  width: 100%;
  max-width: 390px;
  position: absolute;
  top: 8%;
  right: 0%;
  transform: translateX(20%);
  z-index: -1;
}
.vision-inner .vision-dot {
  width: 100%;
  max-width: 180px;
  position: absolute;
  left: 78%;
  top: 35%;
  z-index: -1;
}

.vision-content {
  flex: 0 0 50%;
  margin-left: 2rem;
  align-self: center;
}
.vision-content h3 {
  color: #FFFFFF;
  margin-bottom: 1.1rem;
}
.vision-content p {
  line-height: 1.3rem;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
.vision-content ol li {
  list-style-position: inside;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.vision-content .vision-btn {
  padding: 0.7rem 1.75rem 0.5rem 1.68rem;
  border-radius: 0.94rem;
  border: none;
  font-size: 0.7rem;
  line-height: 0.94rem;
  background-color: #FFFFFF;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-top: 1.1rem;
  font-family: "circular-std-book", sans-serif;
}

/*---------- ~card~ ---------------*/
.hw-school {
  padding: 6.6rem 0 0 0;
}

.section-head-heading {
  text-align: center;
}
.section-head-heading h3 {
  margin-bottom: 1.1rem;
}
.section-head-heading p {
  font-family: "Roboto", sans-serif;
  max-width: 40rem;
  margin: 0 auto;
}

.card-section {
  padding: 5.1rem 0 7.6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 360px;
  padding: 1.75rem 1.1rem 3.3rem 1.1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 1;
  position: relative;
  transition: 0.6s all;
  margin: 2rem 0 2.2rem 2.1rem;
  cursor: pointer;
  border-radius: 0.9rem;
}
.card:hover .card-icon {
  border: 1px solid #FFFFFF;
  background-color: transparent;
}
.card:hover p, .card:hover h4 {
  color: white;
  transition: 0.6s all;
}

.card a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.card:hover {
  background: #841E25;
  box-shadow: none;
}

.card-details h4 {
  padding: 1.6rem 0 1.1rem 0;
}
.card-details p {
  color: #1C2021;
  font-size: 0.8rem;
  line-height: 1.1rem;
  transition: 0.6s all;
}

.card-icon {
  background-color: #FF5959;
  border-radius: 38px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-green {
  background-color: #70CE88;
  border-radius: 38px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-blue {
  background-color: #5C96FF;
  border-radius: 38px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-yellow {
  background-color: #FFBA49;
  border-radius: 38px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------- ~slider~ ---------------*/
.owl-two {
  padding: 6.5rem 4.8rem 13rem 4.8rem;
}
.owl-two::after {
  content: url("../images/slider-dots.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 4%;
  top: 45%;
  z-index: -1;
}

.owl-two .owl-nav {
  display: inline-block;
}

.slider {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #F9F4FC;
  -webkit-clip-path: ellipse(78% 50% at 50% 50%);
          clip-path: ellipse(78% 50% at 50% 50%);
}
.slider .section-head-heading h3 {
  padding-top: 90px;
}

.slider-one {
  background: #FFFFFF;
  transition: all 1s ease;
}
.slider-one img {
  width: 100%;
}
.slider-one h4 {
  border-radius: 5px;
  padding: 1.3rem 3.2rem;
}
.slider-one h4:hover {
  color: #FFFFFF;
  background: #841E25;
  border-radius: 0px;
}

/*---------- ~Testimonal~ ---------------*/
.testimonal-section {
  padding: 3.1rem 0 6.4rem 0;
}
.testimonal-section .section-head-heading p {
  padding-bottom: 5.4rem;
}

.testimonal-content p {
  font-family: "Roboto-regular", sans-serif;
  font-size: 0.9rem;
}

.owl-three .owl-item {
  padding: 1rem 1rem 2rem 1rem;
  overflow: hidden;
}

.owl-three .owl-dots .owl-dot.active span {
  background: #841E25;
}

.owl-three .owl-dots .owl-dot:hover span {
  background: #841E25;
}

.owl-three .owl-dots .owl-dot span {
  background: #7C7C7C;
}

.testimonal {
  background: #FFFFFF;
  padding: 2rem 1.5rem 2.3rem 2.5rem;
  border-radius: 29px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.testimonal .testimonal-header {
  display: flex;
  padding-bottom: 1.8rem;
}
.testimonal .testimonal-title {
  padding-left: 28px;
  align-self: center;
}

.owl-three .owl-carousel .owl-item img {
  width: 63px;
  height: 63px;
}

/*---------- ~Info~ ---------------*/
.info {
  background: url(../images/info-banner.png);
  width: 100%;
  height: 100%;
  padding: 6rem 0 9rem 0;
}
.info h3 {
  text-align: center;
  padding-bottom: 2.6rem;
  color: #841E25;
}
.info .info-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info .info-content ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 42px;
}
.info .info-content ul li {
  color: #373737;
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding-bottom: 0.75rem;
}
.info .info-content ul li a {
  text-decoration: underline;
  color: #373737;
}

.progress-section {
  max-width: 80%;
  margin: 0 auto;
}
.progress-section .section-head-heading {
  padding-top: 2.5rem;
}

.card-progress {
  transition: all 0.3s ease;
}
.card-progress:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 100px 8px 101px 8px;
}

.progress {
  display: flex;
  padding-bottom: 3rem;
  padding: 4.4rem 0 3.8rem 0;
}
.progress .progress-percentage {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 179px;
  height: 179px;
  margin: 0 auto;
  display: flex;
  margin-top: 1.8rem;
  justify-content: center;
  align-items: center;
}
.progress .progress-percentage-red {
  background: url("../images/Statistics-red.png");
}
.progress .progress-percentage-green {
  background: url("../images/Statistics-green.png");
}
.progress .progress-percentage-orange {
  background: url("../images/Statistics-orange.png");
}
.progress .progress-content {
  text-align: center;
}

.progress-content {
  padding: 0 2.1rem 3.9rem 2.1rem;
}
.progress-content h5 {
  padding: 1.8rem 0 2.5rem 0;
}

/*---------------- ~Footer~ ---------------*/
.footer {
  padding: 6.1rem 0px 0 0px;
  -webkit-clip-path: ellipse(300% 100% at 80% 100%);
          clip-path: ellipse(300% 100% at 80% 100%);
  background-color: #841E25;
  width: 100%;
  justify-content: center;
}
.footer .footer-top {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 7.8rem;
}
.footer a {
  color: #FFFFFF;
  font-size: 0.7rem;
  line-height: 2.1rem;
}
.footer p {
  color: #FFFFFF;
  font-size: 0.7rem;
  line-height: 1rem;
}
.footer .footer-logo {
  display: flex;
  align-items: center;
}
.footer .footer-logo .footer-logo-img {
  width: 58px;
  height: 57px;
}
.footer .footer-text {
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1rem;
  padding-left: 8px;
  font-weight: 400;
  display: inline-block;
}
.footer .footer-info {
  padding-left: 3.7rem;
  padding-top: 0.3rem;
}
.footer .footer-info p {
  display: flex;
  align-items: center;
}
.footer .footer-info .location-text {
  padding-bottom: 0.9rem;
  width: 55%;
}
.footer .footer-info .text-phone {
  padding-top: 1.9rem;
}
.footer .footer-address {
  width: 29px;
  height: 29px;
  vertical-align: middle;
}
.footer .footer__addr {
  flex: 30% 0 0;
}
.footer .follow {
  padding-top: 3rem;
}
.footer .follow .follow-text {
  padding-bottom: 1.5rem;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  display: inline-block;
}
.footer .follow .social-icon {
  display: flex;
}
.footer .follow .social-icon .circle-social {
  width: 42px;
  height: 42px;
  border-radius: 42px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
}
.footer .follow .social-icon .circle-social .facebook-icon {
  width: 13px;
  height: 20px;
}

.nav__title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}

li.nav__item {
  padding-right: 4.8rem;
}

li.nav__item:last-child {
  padding-right: 0rem;
}

.footer ul {
  padding-left: 0;
}

.footer__nav {
  padding-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 70%;
}

.menu-img {
  padding-bottom: 1.2rem;
}

.menu-img-two {
  padding-top: 0.8rem;
}

.nav__ul--extra {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 1.25em;
       column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid rgba(251, 251, 251, 0.17);
  padding: 1.5rem 0;
}
.legal p {
  color: #EEEEEE;
}/*# sourceMappingURL=style.css.map */